html
{
	background: #060606;
	color:  #ff0066;
	font-weight: bold;
}
body
{
	font-family: monospace;
	font-size: 18px;
	width: 600px;
	margin: 0px auto 0px auto;
}
a
{
	color: inherit;
}
ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
