pre, p, a {
	margin: 1em auto 0px auto;
	text-align: center;
	min-width: 250px;
	max-width: 500px;
	width: auto;
	font-family: Inconsolata, Consolas, monospace;
}
img {
	display: block;
	margin: 1em auto 0 auto;
}
