@keyframes blink {
	0%
	{
		opacity: 1;
	}
	49%
	{
		opacity: 1;
	}
	51%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 0;
	}	
}

.blink {
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
