html {
	color: #ffffff;
	background: #000000;
	font-size: 16px;
}
body {
	font-family: Inconsolata, monospace;
}
div#content {
	margin: 0px auto;
	width: 45ch;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-60%);
	position: absolute;
	text-shadow: 1px 1px 0px #000000;
}
h1 {
	font-family: inherit;
	font-size: 2.5rem;
}
p {
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 300;
}
a {
	color: #FFFFFF;
	font-weight: bold;
}
a:hover {
	text-decoration: line-through;
}

.pixelated {
	image-rendering: pixelated;
}

.crisp-edges {
	image-rendering: crisp-edges;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
